<h1>Task id:
  <%= @task.id %>
  の修正ページ
</h1>

<%= form_for(@task) do |f| %>

<%= f.label :contet, 'Task 内容' %>

<%= f.text_field :contet %>

<%= f.submit '修正' %>

<% end %>

<%= link_to 'TASK LIST に戻る', tasks_path %>